* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    max-width: 100%;
}
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 4rem;
}

.hamburger {
    display: none;
    color: #031a6b;
    font-size: 1.5rem;
    cursor: pointer;
}

.logo {
    font-size: 1rem;
}
 
nav {
    width: 40rem;
}
 
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
 
nav ul li a {
    font-size: 16px;
    padding: 1rem;
    text-decoration: none;
    color: #031a6b;
}
 
nav ul li a:hover {
    color: #00c3ff;
    cursor: pointer;
}

.contactUs-button {
    padding: 10px 10px;
    background-color:#031a6b;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.contactUs-button:hover{
    background-color: black;
    color: white;
    box-shadow: 0px 0px 5px #ff00c9;
}
 
.contact-banner {
    text-align: center;
}
 
.contact-banner img {
    max-width: 100%;
    height: auto;
}

.contactForm-socials,
.contactForm-container {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contactForm-container {
    width: 60vw;
    padding: 20px;
}

.contactForm-socials {
    width: 30%;
    padding: 60px 30px;
    text-align: right;
    background: #f0d5ec;
    color: black;
}

.social-icon {
    display: flex;
    align-items: left;
    padding: 10px;
}

.address {
    text-align: left;
}

.social-icon img {
    margin-right: 10px;
}

.contact-container{
display: flex;
padding: 0 60px;
margin: 10px 0;
flex-wrap: wrap;
justify-content: center;
}

.contactForm-container label {
    display:block;
    font-weight: bold;
    margin: 10px 5px;
}

.contactForm-container input, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
    resize: vertical;
}

.blog-button,
.submit-button {
    padding: 10px 20px;
    background-color:#5CE1E6;
    border: none;
    color: #031a6b;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}

.blog-button {
    background-color:#031a6b;
    color: white;
}

.submit-button:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 0px 5px #ff00c9;
    border: none;
}

.blog-button:hover {
    background-color: black;
    box-shadow: 0px 0px 5px #ff00c9;
    border: none;
}
 
.resources-container {
    text-align:center;
    background-color: #f0d5ec;
    margin: 50px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.resources-container h2 {
   margin-bottom: 10px;
}

.resources-text {
    margin-bottom: 20px;
}

.resourcesBlock-partnerships,
.resourcesBlock-blog,
.resourcesBlock-faq
{
    width: 25vw;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 150ms ease-in-out;
}

.resourcesBlock-blog{
background: #5ce1e6;
}

.resourcesBlock-partnerships:hover {
    filter: contrast(80%);
    transform: scale(1.1);
    }

.resourcesBlock-blog:hover {
    filter: contrast(80%);
    transform: scale(1.1);
    }

.resourcesBlock-faq:hover {
    filter: contrast(80%);
    transform: scale(1.1);
    }

.resourcesBlock-partnerships,
.resourcesBlock-faq {
background: #031a6b;
color: white;
}


footer {
    padding: 5px;
    text-align: center;
    background-color: #031a6b;
    color: white;
    font-size: 12px;
}

/* Google Map styles */
.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }
 
    .hamburger {
        display: flex;
    }
 
    #nav-menu {
        position: absolute;
        top: 4rem;
        left: 0;
        background-color: #333;
        width: 100%;
        display: none;
    }
 
    #nav-menu.active {
        display: block;
        flex-direction: row;
        padding: 1rem;
    }

   .resourcesBlock-partnerships,
   .resourcesBlock-blog,
   .resourcesBlock-faq {
    width: 80vw;
  }
}