* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}
 
/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 4rem;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }
 
    .hamburger {
        display: flex;
    }
 
    #nav-menu {
        position: absolute;
        top: 4rem;
        left: 0;
        background-color: #333;
        width: 100%;
        display: none;
    }
 
    #nav-menu.active {
        display: block;
        flex-direction: row;
        padding: 1rem;
    }
}

/* Hamburger styles */
.hamburger {
    display: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
}

.logo {
    font-size: 1rem;
}
 
nav {
    width: 40rem;
}
 
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
 
nav ul li a {
    font-size: 16px;
    padding: 1rem;
    text-decoration: none;
    color: #031a6b;
}
 
nav ul li a:hover {
    color: #00c3ff;
    border: none;
    cursor: pointer;
}

.contactUs-button {
    padding: 1rem;
    background-color:#031a6b;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.contactUs-button:hover{
    background-color: #00c3ff;
}
 
/* banner section styles */
.contact-banner {
    text-align: center;
    margin: 0 auto;
}
 
.contact-banner img {
    max-width: 100%;
    height: auto;
}
/* Contact form styles */
.contactUs-form {
    padding: 40px 0;
    margin: 0 10px;
}
 
.contactForm-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
 
.contactUs-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
 
.form-group {
    margin-bottom: 20px;
}
 
.ContactForm-container label {
    display:block;
    font-weight: bold;
}

.contactForm-container input, textarea{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 1rem;
    resize: vertical;
}
.submit-button {
    padding: 10px 10px;
    background-color:#5CE1E6;
    border: none;
    color: #031a6b;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.submit-button:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 0px 5px #ff00c9;
    border: none;
    cursor: pointer;
}
 
/* Office Address styles */
.office-address {
    text-align: center;
    padding: 50px 0;
    background-color: #f7f7f7;
}
 
.office-address h2 {
    margin-bottom: 20px;
}
 
/* Footer styles */
footer {
    padding: 5px;
    text-align: center;
    background-color: #031a6b;
    color: white;
    font-size: 12px;
}

/* Google Map styles */
.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
